@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  /* COLORS */

  --cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --gray: hsl(228, 12%, 48%);
  --black: hsl(212, 21%, 14%);
  --white: hsl(0, 0%, 100%);

  /* BREAKPOINTS */

  --desktop: 90em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* will take into account indents(padding) */
}

body {
  /* set Montserrat as normal and Arial as fallback font */
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
}

section {
  inline-size: 100%;
  block-size: 100vh;
  background-color: var(--cream);
  display: grid;
  place-items: center;
}

.product {
  inline-size: max(325px, 33.33%);
  block-size: auto;
  aspect-ratio: 2/3;
  border-radius: 7px;
  background-color: var(--white);
}

.product__hero {
  inline-size: 100%;
  aspect-ratio: 3/2;
  border-radius: 7px 7px 0px 0px;
  background-image: url("./images/image-product-mobile.jpg");
  background-position: center;
  background-size: cover;
}

.product__info {
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
}

.product__category {
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: var(--gray);
}

.product__category,
.product__description,
.product__pricing--old,
.product__button {
  font-size: 0.875rem;
}

.product__title,
.product__pricing {
  font-family: "Fraunces", serif;
  font-size: 1.75rem;
}

.product__title {
  color: var(--black);
}

.product__title,
.product__button {
  font-weight: 700;
}

.product__description {
  line-height: 1.5;
  color: var(--gray);
}

.product__pricing {
  color: var(--cyan);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product__pricing--old {
  font-family: "Montserrat", "Arial", sans-serif;
  color: var(--gray);
}

.product__button {
  inline-size: 100%;
  padding-block: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  border-radius: 7px;
  color: var(--white);
  background-color: var(--cyan);
  transition: all 0.2s ease-in;
}

.product__button:hover {
  color: var(--white);
  filter: brightness(0.85);
}
